body
    {background-color: cornflowerblue;}
ul
    {list-style-type: none;
    padding:0%;}
li
    {float:left;
    line-height: 50px;
    background-color: coral;
    width: 33.333%;
    text-align: center;}
header
    {clear:both;}
nav a
    {display: block;
    text-decoration: none;
    color:black;}
nav a:hover
    {background-color: white;}
nav
    {width: 728px;}